h1 {
	text-align:left;
	text-shadow: 2px 5px 5px green;
	color:green;
}
.ligne {
	border: 1px solid black;
	border-radius:10px;
	padding-bottom:30px;
	margin-top:50px;
	
}
.recherche {
	text-align:center;
	margin-top:30px;
}

