.selected {
  background-color: green;
}

.poubelle {
    display: none;
}
h1 {
	text-align:center;
	text-shadow:4px 10px 10px green;
	
}
.list {
	border: 1px solid green;
	border-radius:10px;
	padding-bottom:30px;
	margin-top:50px;
}
.boutton {
	text-align:left;
}
